:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --grey-color: #888;
    --red-color: #f44336;
    --green-color: #22e55c;

}

/*      prefixes      */
* {
    /* this property includes the padding and border of the elements in the element width and height */
    box-sizing: border-box;
}

*:focus {
    /* this property clears the outline of the focus elements like : input fields and forms */
    outline: none;
}

body {
    margin: 0%;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

/* scrollbar width */
::-webkit-scrollbar {
    width: 15px;
}

/* scrollbar background color */
::-webkit-scrollbar-track {
    background-color: white;
}

/* scroll color */
::-webkit-scrollbar-thumb {
    background-color: var(--blue-color);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--blue-alt-color);
}

.page {
    background-color: #f1f5f9;
    min-height: 100vh;
}

ul {
    list-style: none;
    padding: 0%;
}

/*     side bar     */
.side-bar {
    width: 250px;
    box-shadow: 0 0 10px #ddd;
}

.side-bar>h3 {
    margin-bottom: 50px;
}

.side-bar>h3::before,
.side-bar>h3::after {
    content: "";
    background-color: black;
    position: absolute;
    /* if not specified the line won't appear , notice that the h3 is relative*/
    left: 50%;
    transform: translateX(-50%);
}

.side-bar>h3::before {
    width: 80px;
    height: 2px;
    /* we should we use all of these ? can we remove translate or left ? */
    bottom: -20px;
}

.side-bar>h3::after {
    width: 12px;
    height: 12px;
    border: 4px solid white;
    border-radius: 50%;
    bottom: -29px;
}

.side-bar ul li a {
    transition: 0.3s;
    /* smooth hover */
    margin-bottom: 5px;
}

.side-bar ul li a:hover,
.side-bar ul li a.active {
    background-color: #f6f6f6;
}

.side-bar ul li a span {
    margin-left: 10px;
    font-size: 14px;
    /* by default = 14px */
}

@media (max-width: 767px) {
    .side-bar {
        width: 58px;
        padding: 10px;
    }

    .side-bar>h3 {
        font-size: 13px;
        margin-bottom: 15px;
    }

    .side-bar>h3::before,
    .side-bar>h3::after {
        display: none;
    }

    .side-bar ul li a {
        transition: 0.3s;
        /* smooth hover */
        margin-bottom: 5px;
    }

    .side-bar ul li a:hover,
    .side-bar ul li a.active {
        background-color: #f6f6f6;
    }

    .side-bar ul li a span {
        display: none;
    }
}

/*     end side bar     */


/* Start Content */
.content {
    /* to not let any scroll bar appears */
    overflow: hidden;
}

/* .head .search::before */
.head .search>i {
    font-family: var(--fa-style-family-classic);
    /* content: "\e2ca" ; magnifying glass , why it's not added through css ?*/
    font-weight: 900;
    /* is this property has a meaning ? */
    font-size: 14px;
    /* size of the icon */
    color: var(--grey-color);
    position: absolute;
    left: 15px;
    /* why top & transform translate are used together ? */
    top: 50%;
    transform: translateY(-50%);
}

.head .search input {
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 160px;
    margin-left: 5px;
    padding-left: 30px;
    transition: width 0.3s;
}

.head .search input:focus {
    /* if you tried to chagne the outline color , nothing happens becuase this property overrided by the * selector */
    width: 200px;
}

.head .search input:focus::placeholder {
    /* same as opacity=0           color: transparent; */
    opacity: 0;
}

.head .icons .notification::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--red-color);
    border-radius: 50%;
    top: -5px;
    right: -5px;
}

.head .icons img {
    width: 30px;
    height: 30px;
    margin-left: 15px;
    border-radius: 50%;
    /* to make it rounded */
}

.page h1 {
    margin: 20px 20px 40px;
}

.page h1::before,
.page h1::after {
    content: "";
    /* if not specified , nothing appears */
    height: 3px;
    position: absolute;
    bottom: -10px;
    left: 0px;
    border-radius: 6px;
}

.page h1::before {
    background-color: white;
    width: 120px;
}

.page h1::after {
    background-color: black;
    width: 50px;
}

/* End Content */

/* Start wrapper */
.wrapper {
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

@media (max-width: 767px) {
    .wrapper {
        grid-template-columns: minmax(200px, 1fr);
        margin-left: 10px;
        margin-right: 10px;
    }
}

/* End wrapper */

/* Start Welcome */
.welcome {
    overflow: hidden;
}

.welcome .intro img {
    width: 200px;
    /* does the browser config. the height ? both change together */
    margin-bottom: -10px;
}

.welcome .body {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.welcome .avatar {
    width: 64px;
    height: 64px;
    padding: 2px;
    /* changes the size of the img */
    border: 2px solid white;
    border-radius: 50%;
    margin-top: -32px;
    margin-left: 20px;
    box-shadow: 0px 0px 5px #ddd;
}

.welcome .body>div {
    flex: 1;
}

.welcome .visit {
    margin: 0px 15px 15px auto;
    transition: 0.3s;
}

.welcome .visit:hover {
    background-color: var(--blue-alt-color);
}

@media (max-width: 767px) {
    .welcome .intro {
        padding-bottom: 30px;
    }

    .welcome .avatar {
        margin-left: 0px;
    }

    .welcome .body>div:not(:last-child) {
        /* all except the last-child */
        margin-bottom: 20px;
    }
}

/* End Welcome */

/* Start Quick-Draft */
.quick-draft textarea {
    resize: none;
    /* to make it's size fixed */
    min-height: 200px;
}

.quick-draft .save {
    margin-left: auto;
    transition: 0.3s;
    cursor: pointer;
    /* to display it as a clickable element */
}

.quick-draft .save:hover {
    background-color: var(--blue-alt-color);
}

/* End Quick-Draft */

/* Start Targets */
.targets .target-row .icon {
    width: 80px;
    height: 80px;
    margin-right: 15px;
}

.targets .details {
    flex: 1;
}

.targets .details .progress {
    height: 4px;
}

.targets .details .progress>span {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    /* it won't be visible without the height*/
}

.targets .details .progress>span span {
    position: absolute;
    bottom: 15px;
    right: -16px;
    padding: 2px 5px;
    font-size: 13px;
}

.targets .details .progress>.blue span::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-color: transparent;
    border-width: 5px;
    border-style: solid;
    border-top-color: var(--blue-color);
}

.blue .icon,
.blue .progress {
    background-color: rgb(0 117 255 / 20%);
}

.targets .details .progress>.green span::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-color: transparent;
    border-width: 5px;
    border-style: solid;
    border-top-color: var(--green-color);
}

.green .icon,
.green .progress {
    background-color: rgb(34 229 92 / 20%);
}

.targets .details .progress>.orange span::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-color: transparent;
    border-width: 5px;
    border-style: solid;
    border-top-color: var(--orange-color);
}

.orange .icon,
.orange .progress {
    background-color: rgb(245 158 11 / 20%);
}

/* End Targets */

/* Start tickets */
.tickets .box {
    border: 1px solid #ccc;
    width: calc(50% - 10px);
    /* put spaces in calc() to not write -ve 10px by mistake */
}

@media (max-width: 767px) {
    .tickets .box {
        border: 1px solid #ccc;
        width: 100%;
    }
}

/* End tickets */

/* Start News */
.news .news-row:not(:last-of-type) {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.news-row img {
    width: 100px;
    border-radius: 6px;
    margin-right: 15px;
    border: 2px solid #eee;
}

.news-row .info {
    flex: 1;
}

.news-row h3 {
    margin: 0px 0px 5px;
    font-size: 16px;
}

@media (max-width: 767px) {
    .news-row .label {
        margin: 10px auto;
        width: fit-content;
    }
}

/* End News */

/* Start Latest Tasks */
.tasks .task-row:not(:last-of-type) {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.tasks .done {
    opacity: 0.3;
}

.tasks .done h3,
.tasks .done p {
    text-decoration: line-through;
}

.tasks .delete {
    cursor: pointer;
    transition: 0.3s;
}

.tasks .delete:hover {
    color: var(--red-color);
}

/* End Latest Tasks */

/* ------------- NO CSS FOR TOP SEARCH BOX ------------- */

/* Start Latest Upload */
.latest-uploads ul li:not(:last-child) {
    border-bottom: 1px solid #eee;
}

.latest-uploads ul li img {
    width: 40px;
    height: 40px;
}

/* End Latest Upload */

/* Start Project Progress box  */
.last-project ul::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 2px;
    left: 11px;
    background-color: var(--blue-color);
}

.last-project ul li::before {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid white;
    outline: 2px solid var(--blue-color);
    margin-right: 15px;
    z-index: 1;
}

.last-project ul li.done::before {
    background-color: var(--blue-color);
}

.last-project ul li.current::before {
    animation: change-color 1.5s infinite alternate;
    /* transition: 0.8s change-color; */
}

.last-project .launch-icon {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 200px;
    opacity: 0.5;
}

/* End Project Progress box  */

/* Start Reminders */
.reminders ul li .key {
    width: 15px;
    height: 15px;
}

.reminders ul li>.blue {
    border-left: 2px solid var(--blue-color);
}

.reminders ul li>.green {
    border-left: 2px solid var(--green-color);
}

.reminders ul li>.orange {
    border-left: 2px solid var(--orange-color);
}

.reminders ul li>.red {
    border-left: 2px solid var(--red-color);
}

/* End Reminders */

/* Start Latest Post */
.latest-post .avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.latest-post .content {
    line-height: 1.8;
    text-transform: capitalize;
    border-top: 2px solid #eee;
    border-bottom: 2px solid #eee;
}

/* End Latest Post */

/* Start Social Media */
.social-media-stats .box {
    padding-left: 70px;
}

.social-media-stats .box i {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 52px;
    transition: 0.3s;
    /* height: 100%; */
}

.social-media-stats i:hover {
    transform: rotate(5deg);
}

.social-media-stats .twitter {
    background-color: rgb(29 161 242 / 20%);
    color: #1da1f2;
}

.social-media-stats .twitter i,
.social-media-stats .twitter a {
    background-color: #1da1f2;
}

.social-media-stats .facebook {
    background-color: rgb(24 119 242 / 20%);
    color: #1877f2;
}

.social-media-stats .facebook i,
.social-media-stats .facebook a {
    background-color: #1877f2;
}

.social-media-stats .youtube {
    background-color: rgb(255 0 0 / 20%);
    color: #ff0000;
}

.social-media-stats .youtube i,
.social-media-stats .youtube a {
    background-color: #ff0000;
}

.social-media-stats .linkedin {
    background-color: rgb(0 119 181 / 20%);
    color: #0077b5;
}

.social-media-stats .linkedin i,
.social-media-stats .linkedin a {
    background-color: #0077b5;
}

/* End Social Media */


/* Start Projects Table */
.projects .resp-table {
    /* if the size of the table is greater than vp => scroll to see it */
    overflow-x: auto;
}

.projects table {
    min-width: 1150px;
    /* to remove the default spaces in the between the cells */
    border-spacing: 0px;
}

.projects thead {
    background-color: #eee;
}

.projects td,
.projects th {
    padding: 15px;
}

.projects tbody td {
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
    transition: 0.3s;
}

.projects tbody td:last-child {
    border-right: 1px solid #eee;
}

.projects tbody tr:hover td {
    background-color: #faf7f7;
}

.projects .resp-table tr img {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    padding: 2px;
    background-color: white;
}

.projects .resp-table tr img:not(:first-child) {
    margin-left: -20px;
}

.projects .label {
    font-size: 13px;
}

/* End Projects Table */


/* Start Settings */
.settings-page {
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}

@media (max-width: 767px) {
    .settings-page {
        grid-template-columns: minmax(100px, 1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
    }
}

.settings-page .close-message{
    border: 1px solid #ccc;
    resize: none;
    min-height: 150px;
}

/*  */
.settings-page .email{
    display: inline-flex;
    width: calc(100% - 80px);
}
.settings-page :disabled{
    cursor: no-drop;
    background-color: #f0f4f8;
    color: #bbb;
}
/*  */
.settings-page .sec-box{
    padding-bottom: 15px;
}
.settings-page .sec-box .button{
    transition: 0.3s ;
}
.settings-page .sec-box .button:hover{
    background-color: var(--blue-alt-color);
}
.settings-page .sec-box:not(:last-of-type){  
    border-bottom: 1px solid #eee;
}
/*  */
.settings-page .social-boxes i{
    width: 40px;
    height: 40px;
    background-color: #f6f6f6;
    border: 1px solid #ddd;
    border-right: none;
    border-radius: 6px 0 0 6px;  /* right corners */
    transition: 0.3s;
}
.settings-page .social-boxes input{
    height: 40px;
    background-color: #f6f6f6;
    border: 1px solid #ddd;
    padding-left: 10px;
    border-radius: 0 6px 6px 0;
}
.settings-page .social-boxes > div:focus-within i{
    /* when we focus on this div , the i within it should change color */
    color: black;
}
/*  */
.widgets-control .control input[type="checkbox"]{
    -webkit-appearance: none;
    appearance: none;
}
.widgets-control .control label{
    padding-left: 30px;
    position: relative;
    cursor: pointer;
}
.widgets-control .control label::before{
    content: "";
    position: absolute;
    left: 0px;
    top: 50%;
    width: 14px;
    height: 14px;
    border-radius: 4px;
    border: 2px solid var(--grey-color);
    margin-top: -9px; /* -ve 0.5*height */
}
.widgets-control .control label:hover::before{
    border-color: var(--blue-alt-color);
}
.widgets-control .control label::after{
    content: "\f00c";
    font-family: var(--fa-style-family-classic);
    font-weight: 900;  /* to display the icon */
    position: absolute;
    left: 0%;
    top: 50%;
    border-radius: 4px;
    margin-top: -9px;
    background-color: var(--blue-color);
    color: white;
    font-size: 12px;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0) rotate(360deg);
    transition: 0.3s;
}
/* when pressing the box => it fills with the content icon */
.widgets-control .control input[type="checkbox"]:checked + label::after{
    transform: scale(1);
}
/*  */
.backup-control input[type="radio"]{
    -webkit-appearance: none;
    appearance: none;
}
.backup-control .date label{
    padding-left: 30px;
    cursor: pointer;
    position: relative;
}
.backup-control .date label::before{
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    border: 2px solid var(--grey-color) ;
    border-radius: 50%;
    left: 0px;
    top: 50%;
    margin-top: -11px;  /* height 18 + 4px border (up&down) */
}
.backup-control .date label::after{
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background : var(--blue-color);
    border-radius: 50%;
    left: 5px;
    top: 5px;
    transition: 0.3s;
    transform: scale(0);
}

.backup-control .date input[type="radio"]:checked + label::before{
    border-color: var(--blue-color);
}
.backup-control .date input[type="radio"]:checked + label::after{
    transform: scale(1);
}

.backup-control .servers{
    border: 1px solid #eee;   
    padding-top: 20px;
}
@media (max-width: 767px) {
    .backup-control .servers{
        flex-wrap: wrap;
    }
}
.backup-control .servers .server{
    border: 2px solid #eee;
    position: relative;
}
.backup-control .servers label{
    cursor: pointer;
}
.backup-control .servers input[type="radio"]:checked + .server{
    border-color: var(--blue-color);
    color: var(--blue-color);
}
/*  */


/* End Settings */

/* Start Profile Page */
@media (max-width: 767px) {
    .profile-page .overview{
        flex-direction: column;
    }
}
.profile-page .avatar-box{
    width: 300px;
}
@media (min-width: 768px) {
    .profile-page .avatar-box{
        border-right: 1px solid #eee;
    }
}
.profile-page .avatar-box > img{
    width: 120px;
    height: 120px;
}
.profile-page .avatar-box .level{
    height: 6px;
    /* overflow: hidden;  to make the borders of the span don't go outside the div */
    margin: auto;  /*  to center the width 70 out of 100% */
    width: 70%;
}
.profile-page .avatar-box .level span{
    position: absolute;
    left: 0%;
    top: 0%;
    height: 100%;
    background-color: var(--blue-color);
    border-radius: 6px;
}


.profile-page .info-box .box{
    flex-wrap: wrap;
    border-bottom:  1px solid #eee;
    transition: 0.3s;
}
.profile-page .info-box .box:hover{
    background-color: #f9f9f9;
}
.profile-page .info-box .box > div{
    min-width: 200px;
    padding: 10px 0 0;
}
.profile-page .info-box h4{
    font-weight: normal;
}
.profile-page .info-box .toggle-switch {
    height: 20px;
}
@media (max-width: 767px) {
    .profile-page .info-box .toggle-switch {
        margin: auto;
    }
}
.profile-page .info-box .toggle-switch::before {
    width: 12px;
    height: 12px;
    font-size: 8px;
}
.profile-page .info-box .toggle-checkbox:checked + .toggle-switch::before {
    left: 62px;
}


/* Start my-skills ( profile page ) */
@media (max-width: 767px) {
    .profile-page .other-data{
        flex-direction: column;
    }
}
.profile-page .skills-card{
    flex-grow: 1;
}
.profile-page .skills-card ul li{
    padding: 15px 0px ;
}
.profile-page .skills-card ul li:not(:last-child){
    border-bottom: 1px solid #eee;
}
.profile-page .skills-card ul li span{
    display: inline-flex;
    padding: 4px 10px;
    background-color: #eee;
    border-radius: 6px;
    font-size: 14px;
    margin-left: 5px;
}
.profile-page .activities{
    flex-grow: 2;
}
.profile-page .activity:not(:last-of-type){
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.profile-page .activity img{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin-right: 10px;
}
@media (min-width: 768px) {
    .profile-page .date{
        margin-left: auto;
        text-align: right;
    }
}
@media (max-width: 767px) {
    .profile-page .activity{
        flex-direction: column;
    }
    .profile-page .activity img{
        margin-right: 0;
        margin-bottom: 15px;
    }
    .profile-page .activity .date{
        margin-top: 15px;
    }
}
/* End my-skills ( profile page ) */
/* End Profile Page */

/* Start Projects Page */
.projects-page{
    grid-template-columns: repeat(auto-fill , minmax(500px,1fr));
}
@media (max-width: 767px) {
    .projects-page{
        grid-template-columns: minmax(200px,1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
    }
}
.projects-page .project .date{
    position: absolute;
    right: 10px;
    top: 10px;
}
.projects-page .project h4{
    font-weight: normal;  /* not bold */
}
.projects-page .project .team{
    position: relative;
    min-height: 80px;  /* to not let the image to be above this div  */
}
.projects-page .project .team a{
    position: absolute;
    left: 0;
    bottom: 0;
}
.projects-page .project .team a:nth-child(2){
    left: 25px;
}
.projects-page .project .team a:nth-child(3){
    left: 50px;
}
.projects-page .project .team a:nth-child(4){
    left: 75px;
}
.projects-page .project .team a:nth-child(5){
    left: 100px;
}
.projects-page .project .team a:hover{
    z-index: 1;
}
.projects-page .project .team img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid white;
}
.projects-page .project .do{
    justify-content: flex-end;
    border-top: 1px solid #eee;
    padding-top: 15px;  /* under the border */
    margin-top: 15px;   /* Above the border */
}
.projects-page .project .do span{
    padding: 3px 8px;
    margin-left: 5px;
}
@media (max-width: 767px) {
    .projects-page .project .do{
        flex-direction: column;
    }
    .projects-page .project .do span{
        width: fit-content;
    }
    .projects-page .project .do span:not(:last-of-type){
        margin-bottom: 15px;
    }
}
.projects-page .project .info{
    border-top: 1px solid #eee;
    margin-top: 15px;
    padding-top: 15px;
}
.projects-page .project .info .progress{
    height: 8px;
    width: 260px;
    position: relative;
    border-radius: 6px;
}
.projects-page .project .info .progress span{
    position: absolute;
    left: 0%;
    top: 0%;
    height: 100%;
    border-radius: 6px;
}
@media (max-width: 767px) {
    .projects-page .project .info .progress{
        width: 200px;
    }
}
/* End Projects Page */

/* Start Courses Page */
.courses-page{
    grid-template-columns: repeat(auto-fill , minmax(300px,1fr));
}
@media (max-width: 767px) {
    .courses-page{
        grid-template-columns: minmax(200px,1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
    }
}
.courses-page .course{
    overflow: hidden;
}
.courses-page .course .cover{
    max-width: 100%;
}
.courses-page .course .line{
    position: absolute;
    width: 100%;
    border: 1px solid #eee;
    top: 52px;
    /* left: 20px; */
}
/* why is the image above the line without z-index ? 
   because it's written before it in html           */ 
.courses-page .course .instructor{
    position: absolute;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    top: 20px;
    left: 20px;
    border: 2px solid white;
}
.courses-page .course .description{
    line-height: 1.6;
}
.courses-page .course .info{
    border-top: 1px solid #eee;
    font-size: 13px;

}
.courses-page .course .info .title{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 13px;
    top: -13px;
    height: 27px;
}
/* End Courses Page */

/* Start Friends Page */
.friends-page{
    grid-template-columns: repeat(auto-fill , minmax(300px,1fr));
}
@media (max-width: 767px) {
    .friends-page{
        grid-template-columns: minmax(200px,1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
    }
}
.friends-page .contact{
    position: absolute;
    top: 10px;
    left: 10px;
}
.friends-page .contact i{
    background-color: #eee;
    padding: 10px;
    border-radius: 50%;
    color: #666;
    font-size: 13px;
    cursor: pointer;
    transition: 0.3s;
}
.friends-page .contact i:hover{
    background-color: var(--blue-color);
    color: white;
}
.friends-page .friend .icons{
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 15px;
    padding-bottom: 15px;

}
.friends-page .friend .icons i{
    margin-right: 5px;
}
.friends-page .friend .icons .vip{ 
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 40px;
    opacity: 0.2;
}
/* End Friends Page */

/* Start Files Page */

/* End Files Page */

/* Start Plans Page */

/* End Plans Page */


/* Start Animations */
@keyframes change-color {
    from {
        background-color: var(--blue-alt-color);
    }

    to {
        background-color: white;
    }
}

/* End Animations */

/* Start Toggles */
.toggle-checkbox {
    -webkit-appearance: none;
    appearance: none;
    display: none;
}

.toggle-switch {
    background-color: #ccc;
    width: 78px;
    height: 32px;
    border-radius: 16px;
    position: relative;
    transition: 0.3s;
    cursor: pointer;
}

.toggle-switch::before {
    content: "\f00d";
    font-family: var(--fa-style-family-classic);
    font-weight: 900;
    background-color: white;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    position: absolute;
    top: 4px;
    left: 4px;
    /* display flex for the ::before */
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaa;
    transition: 0.3s;
}

.toggle-checkbox:checked + .toggle-switch {
    background-color: var(--blue-color);
}

.toggle-checkbox:checked + .toggle-switch::before {
    left: 50px;
    color: var(--blue-color);
    content: "\f00c";
}
/* End Toggles */